{{ partial:layout/grid class="sm:!gap-x-40 sm:!gap-y-20 lg:!gap-y-40 mb-40 md:mb-60 lg:mb-80 mt-40 md:mt-50 xl:mt-60" }}

  {{ partial:layout/span class="lg:!col-span-3" }}
    <div class="font-uni-neue-bold font-black tracking-wider lowercase">
      Verfügbarkeit
    </div>
    <div>
      <select 
        class="
          js-filter-attribute 
          appearance-none 
          text-xs 
          lg:text-sm 
          tracking-widest 
          leading-none
          uppercase 
          bg-[url(../icons/chevron-down.svg)] 
          bg-[length:15px_auto] 
          bg-[right_1rem_center] 
          bg-no-repeat 
          !outline-none
          border
          border-mistel
          rounded-full 
          px-10
          lg:px-15
          py-9 
          lg:py-11
          mt-15 
          w-full" 
        data-filterType="object-state" 
        aria-label="Verfügbarkeit">
        <option value="NULL">ALLE</option>
        <option value="free">frei</option>
        <option value="reserved">reserviert</option>
        <option value="taken">vermietet</option>
      </select>
    </div>
  {{ /partial:layout/span }}
  
  {{ partial:layout/span class="lg:!col-span-3" }}
    <div class="font-uni-neue-bold font-black tracking-wider lowercase">
      Zimmer
    </div>
    <div>
      <select
        class="
          js-filter-attribute
          appearance-none
          text-xs
          lg:text-sm
          tracking-widest
          leading-none
          uppercase
          bg-[url(../icons/chevron-down.svg)]
          bg-[length:15px_auto]
          bg-[right_1rem_center]
          bg-no-repeat
          !outline-none
          border
          border-mistel
          rounded-full
          px-10
          lg:px-15
          py-8
          lg:py-10
          mt-15
          w-full"
        data-filterType="object-rooms"
        aria-label="Zimmer">
        <option value="NULL">ALLE</option>
        <option value="1.5">1.5</option>
        <option value="2.5">2.5</option>
        <option value="3.5">3.5</option>
        <option value="4.5">4.5</option>
      </select>
    </div>
  {{ /partial:layout/span }}

  {{ partial:layout/span class="lg:!col-span-3" }}
    <div class="font-uni-neue-bold font-black tracking-wider lowercase">
      Etage
    </div>
    <div>
      <select
        class="
          js-filter-attribute
          appearance-none
          text-xs
          lg:text-sm
          tracking-widest
          leading-none
          uppercase
          bg-[url(../icons/chevron-down.svg)]
          bg-[length:15px_auto]
          bg-[right_1rem_center]
          bg-no-repeat
          !outline-none
          border
          border-mistel
          rounded-full
          px-10
          lg:px-15
          py-8
          lg:py-10
          mt-15
          w-full"
        data-filterType="object-floor"
        aria-label="Etage">
        <option value="NULL">ALLE</option>
        <option value="0">EG</option>
        <option value="1">1. OG</option>
        <option value="2">2. OG</option>
        <option value="3">3. OG</option>
      </select>
    </div>
  {{ /partial:layout/span }}
  
  {{ partial:layout/span class="lg:!col-span-3 flex items-end" }}
    <button class="js-btn-reset btn-pill mt-10 !w-full">
      Zurücksetzen
    </button>
  {{ /partial:layout/span }}

{{ /partial:layout/grid }}