<figure class="{{ wrapperClass }}" {{ data }}>
  <picture>
    <source media="(min-width: 1200px)" srcset="/assets/{{ image }}-xl.avif" type="image/avif">
    <source media="(min-width: 768px)" srcset="/assets/{{ image }}-lg.avif" type="image/avif">
    <source srcset="/assets/{{ image }}-md.avif" type="image/avif">
    <source media="(min-width: 1200px)" srcset="/assets/{{ image }}-xl.webp" type="image/webp">
    <source media="(min-width: 768px)" srcset="/assets/{{ image }}-lg.webp" type="image/webp">
    <source srcset="/assets/{{ image }}-md.webp" type="image/webp">
    <source media="(min-width: 1200px)" srcset="/assets/{{ image }}-xl.jpg" type="image/jpeg">
    <source media="(min-width: 768px)" srcset="/assets/{{ image }}-lg.jpg" type="image/jpeg">
    <source srcset="/assets/{{ image }}-md.jpg" type="image/jpeg">
    <img
      src="/assets/{{ image }}.jpg"
      alt="{{ alt }}"
      title="{{ alt }}"
      height="1600"
      width="900"
      class="w-full h-auto {{ class }}">
  </picture>
</figure>