    {{ partial:components/media/visual
      wrapperClass="rellax"
      data="data-rellax-speed='-5'"
      image="radial-rupperswil-visual-faq"
      class="aspect-[16/8] md:aspect-[16/7] lg:aspect-[16/5] object-cover"
      alt="Radial Rupperswil" }}

{{ partial:layout/section class="bg-noctar pt-15 pb-25 md:pt-25 md:pb-35 xl:pt-40 xl:pb-60" }}

  {{ partial:layout/inner }}

    <div class="max-w-3xl">

      {{ partial:components/headings/h1 title="FAQ" class="text-white" }}

      {{ partial:components/headings/h2 title="Lorem ipsum dolor" class="text-white uppercase" }}

      <p class="text-white mt-10 md:mt-20 lg:mt-30">
        <strong>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ratione consequuntur, omnis similique alias dicta delectus error adipisci qui, sed illo, aperiam assumenda voluptatum voluptatem molestiae accusantium eligendi? Maxime, error aliquid.</strong>
      </p>

      <p class="text-white">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maxime sapiente delectus placeat voluptas, ab voluptatem unde officiis eveniet dicta alias. Saepe neque minima odit temporibus fuga ea id exercitationem earum! Lorem ipsum dolor sit amet.
      </p>


    </div>

    <div class="mt-30 lg:mt-50 text-white max-w-3xl">
      {{ partial:components/accordion/wrapper }}

        {{ partial:components/accordion/item id="ab-wann-sind-die-wohnungen-bezugsbereit" }}
          {{ partial:components/accordion/button title="Ab wann sind die Wohnungen bezugsbereit?" }}
          {{ partial:components/accordion/content }}
            <p>Der Bezug ist voraussichtlich ab dem 1. September 2026 möglich. Der definitive Termin wird vier Monate vor Bezug mitgeteilt.</p>
          {{ /partial:components/accordion/content }}
        {{ /partial:components/accordion/item }}

        {{ partial:components/accordion/item id="wie-hoch-ist-der-mietzins" }}
          {{ partial:components/accordion/button title="Wie hoch ist der Mietzins und was ist im Nettomietzins enthalten?" }}
          {{ partial:components/accordion/content }}
            <p>Alle Mietzinse finden Sie auf dieser Website unter <a href="/angebot" class="underline decoration-1 underline-offset-4 hover:no-underline">Angebot</a>.</p>
          {{ /partial:components/accordion/content }}
        {{ /partial:components/accordion/item }}

        {{ partial:components/accordion/item id="wie-hoch-sind-die-nebenkostenakonto" }}
          {{ partial:components/accordion/button title="Wie hoch sind die Nebenkostenakonto?" }}
          {{ partial:components/accordion/content }}
            <p>Die Nebenkostenakontos finden Sie auf dieser Website unter <a href="/angebot" class="underline decoration-1 underline-offset-4 hover:no-underline">Angebot</a>.</p>
          {{ /partial:components/accordion/content }}
        {{ /partial:components/accordion/item }}

        {{ partial:components/accordion/item id="kann-ich-die-wohnungen-bereits-besichtigen" }}
          {{ partial:components/accordion/button title="Kann ich die Wohnungen bereits besichtigen?" }}
          {{ partial:components/accordion/content }}
            <p>Aktuell sind keine Besichtigungen möglich, da die Wohnungen ab Plan vermietet werden.</p>
          {{ /partial:components/accordion/content }}
        {{ /partial:components/accordion/item }}

        {{ partial:components/accordion/item id="wie-kann-ich-mich-bewerben" }}
          {{ partial:components/accordion/button title="Wie kann ich mich für eine Wohnung bewerben?" }}
          {{ partial:components/accordion/content }}
            <p>Wählen Sie unter dem Menüpunkt <a href="/angebot" class="underline decoration-1 underline-offset-4 hover:no-underline">Angebot</a> Ihr gewünschtes Objekt aus, klicken Sie auf Anmeldeformular und füllen Sie das Formular digital aus. Die Anleitung zum digitalen Bewerbungsprozess finden Sie im Dokument Anleitung digitaler Bewerbungsprozess.</p>
          {{ /partial:components/accordion/content }}
        {{ /partial:components/accordion/item }}

        {{ partial:components/accordion/item id="kann-ich-eine-wohnung-provisorisch-reservieren" }}
          {{ partial:components/accordion/button title="Kann ich eine Wohnung provisorisch reservieren?" }}
          {{ partial:components/accordion/content }}
            <p>Nein, provisorische Reservationen sind nicht möglich. Sobald wir Ihre Anmeldung erfolgreich geprüft haben, erhalten Sie eine Zusage per E-Mail. Anschliessend senden wir Ihnen den Mietvertrag zur Unterzeichnung zu.</p>
          {{ /partial:components/accordion/content }}
        {{ /partial:components/accordion/item }}

        {{ partial:components/accordion/item id="wie-lange-ist-die-mindestmietdauer" }}
          {{ partial:components/accordion/button title="Wie lange ist die Mindestmietdauer und welche Kündigungsfristen gelten?" }}
          {{ partial:components/accordion/content }}
            <p>Der Mietvertrag läuft mindestens ein Jahr. Das Mietverhältnis kann mit einer Frist von drei Monaten auf jedes Monatsende, ausgenommen Dezember, gekündigt werden.</p>
          {{ /partial:components/accordion/content }}
        {{ /partial:components/accordion/item }}

        {{ partial:components/accordion/item id="wie-hoch-ist-die-mietkaution" }}
          {{ partial:components/accordion/button title="Wie hoch ist die Mietkaution?" }}
          {{ partial:components/accordion/content }}
            <p>Die Mietkaution beträgt drei Bruttomonatsmieten und wird auf einem Mietkautionssparkonto hinterlegt. Eine Versicherungsleistung ist ebenfalls möglich.</p>
          {{ /partial:components/accordion/content }}
        {{ /partial:components/accordion/item }}

        {{ partial:components/accordion/item id="sind-haustiere-erlaubt" }}
          {{ partial:components/accordion/button title="Sind Haustiere erlaubt?" }}
          {{ partial:components/accordion/content }}
            <p>Hunde und Katzen sind nicht erlaubt. Kleine Haustiere, die in der Wohnung bleiben, sind grundsätzlich gestattet.</p>
          {{ /partial:components/accordion/content }}
        {{ /partial:components/accordion/item }}

        {{ partial:components/accordion/item id="gibt-es-eigene-waschmaschinen" }}
          {{ partial:components/accordion/button title="Gibt es eigene Waschmaschinen in den Wohnungen oder einen gemeinschaftlichen Waschraum?" }}
          {{ partial:components/accordion/content }}
            <p>Jede Wohnung verfügt über eine eigene Waschmaschine und einen eigenen Tumbler.</p>
          {{ /partial:components/accordion/content }}
        {{ /partial:components/accordion/item }}

        {{ partial:components/accordion/item id="wie-ist-der-ausbau" }}
          {{ partial:components/accordion/button title="Wie ist der Ausbau der Küche und der Bäder?" }}
          {{ partial:components/accordion/content }}
            <p>Alle Informationen dazu finden Sie im <a href="/assets/downloads/radial-rupperswil-ausbaubeschrieb.pdf" target="_blank" class="underline decoration-1 underline-offset-4 hover:no-underline">Ausbaubeschrieb</a>.</p>
          {{ /partial:components/accordion/content }}
        {{ /partial:components/accordion/item }}

        {{ partial:components/accordion/item id="gibt-es-einen-balkon" }}
          {{ partial:components/accordion/button title="Gibt es einen Balkon, Sitzplatz oder eine Terrasse?" }}
          {{ partial:components/accordion/content }}
            <p>Jede Wohnung verfügt über einen grosszügigen Balkon, Sitzplatz oder eine Terrasse mit Flächen zwischen 15.1 und 48.4 m².</p>
          {{ /partial:components/accordion/content }}
        {{ /partial:components/accordion/item }}

        {{ partial:components/accordion/item id="sind-einstellplaetze-verfuegbar" }}
          {{ partial:components/accordion/button title="Sind Einstellplätze verfügbar und wie hoch ist der Mietzins?" }}
          {{ partial:components/accordion/content }}
            <p>Es stehen Einstellplätze zur Verfügung. Aktuell darf pro Wohneinheit ein Parkplatz angemietet werden. Sollten zusätzliche Plätze verfügbar sein, informieren wir die Mieterinnen und Mieter, die ein entsprechendes Bedürfnis gemeldet haben. Die Mietzinse finden Sie unter <a href="/angebot" class="underline decoration-1 underline-offset-4 hover:no-underline">Angebot</a>.</p>
          {{ /partial:components/accordion/content }}
        {{ /partial:components/accordion/item }}

        {{ partial:components/accordion/item id="sind-e-einstellplaetze-vorhanden" }}
          {{ partial:components/accordion/button title="Sind E-Einstellplätze vorhanden und kann ein Platz später nachgerüstet werden? Wie hoch ist der Mietzins?" }}
          {{ partial:components/accordion/content }}
            <p>Es besteht die Möglichkeit, einen E-Einstellplatz zu mieten. Bitte geben Sie dies bei der Anmeldung an. Sie werden dann entsprechend berücksichtigt. Auch eine spätere Nachrüstung nach dem Einzug ist möglich. Die Mietzinse entsprechen jenen der normalen Einstellplätze und sind unter <a href="/angebot" class="underline decoration-1 underline-offset-4 hover:no-underline">Angebot</a> aufgeführt.</p>
          {{ /partial:components/accordion/content }}
        {{ /partial:components/accordion/item }}

        {{ partial:components/accordion/item id="wie-funktioniert-die-e-ladeinfrastruktur" }}
          {{ partial:components/accordion/button title="Wie funktioniert die E-Ladeinfrastruktur?" }}
          {{ partial:components/accordion/content }}
            <p>Das Kabelband für die Ladeinfrastruktur ist bereits vorhanden. Die Anschaffung der Ladestation sowie die Anmeldung beim Betreiber erfolgen nicht über die Bewirtschaftung. Wir unterstützen Sie jedoch gerne dabei.</p>
          {{ /partial:components/accordion/content }}
        {{ /partial:components/accordion/item }}

        {{ partial:components/accordion/item id="gibt-es-besucherparkplaetze" }}
          {{ partial:components/accordion/button title="Gibt es Besucherparkplätze?" }}
          {{ partial:components/accordion/content }}
            <p>Ja, es stehen Besucherparkplätze im Aussenbereich zur Verfügung.</p>
          {{ /partial:components/accordion/content }}
        {{ /partial:components/accordion/item }}

        {{ partial:components/accordion/item id="wie-ist-die-oev-anbindung" }}
          {{ partial:components/accordion/button title="Wie ist die ÖV-Anbindung?" }}
          {{ partial:components/accordion/content }}
            <p>Der Bahnhof Rupperswil ist in weniger als fünf Gehminuten erreichbar.</p>
          {{ /partial:components/accordion/content }}
        {{ /partial:components/accordion/item }}

        {{ partial:components/accordion/item id="wie-ist-die-ueberbauung-energetisch-ausgestattet" }}
          {{ partial:components/accordion/button title="Wie ist die Überbauung energetisch ausgestattet?" }}
          {{ partial:components/accordion/content }}
            <p>Alle technischen Angaben zur Überbauung finden Sie im <a href="/assets/downloads/radial-rupperswil-ausbaubeschrieb.pdf" target="_blank" class="underline decoration-1 underline-offset-4 hover:no-underline">Ausbaubeschrieb</a>.</p>
          {{ /partial:components/accordion/content }}
        {{ /partial:components/accordion/item }}

        {{ partial:components/accordion/item id="gibt-es-einen-spielplatz" }}
          {{ partial:components/accordion/button title="Gibt es einen Spielplatz?" }}
          {{ partial:components/accordion/content }}
            <p>Ja, in der Umgebung der Liegenschaft befindet sich ein Spielplatz.</p>
          {{ /partial:components/accordion/content }}
        {{ /partial:components/accordion/item }}

        {{ partial:components/accordion/item id="sind-veloraeume-vorhanden" }}
          {{ partial:components/accordion/button title="Sind Veloräume oder Veloplatzplätze vorhanden?" }}
          {{ partial:components/accordion/content }}
            <p>Ja, es stehen ausreichend Veloabstellplätze im Innenbereich im ersten Untergeschoss und im Aussenbereich zur Verfügung.</p>
          {{ /partial:components/accordion/content }}
        {{ /partial:components/accordion/item }}

        {{ partial:components/accordion/item id="steht-zusaetzlicher-stauraum-zur-verfuegung" }}
          {{ partial:components/accordion/button title="Steht zusätzlicher Stauraum zur Verfügung?" }}
          {{ partial:components/accordion/content }}
            <p>Ja, zu jeder Wohnung gehört ein Kellerabteil mit 3.9 bis 8.6 m². Zusätzlich verfügt jede Wohnung über ein eigenes Reduit mit 3.7 bis 5.3 m².</p>
          {{ /partial:components/accordion/content }}
        {{ /partial:components/accordion/item }}

        {{ partial:components/accordion/item id="gibt-es-einen-lift" }}
          {{ partial:components/accordion/button title="Gibt es einen Lift?" }}
          {{ partial:components/accordion/content }}
            <p>Ja, die Überbauung verfügt über einen Lift, der vom Untergeschoss bis ins dritte Obergeschoss fährt.</p>
          {{ /partial:components/accordion/content }}
        {{ /partial:components/accordion/item }}

      {{ /partial:components/accordion/wrapper }}
    </div>

  {{ /partial:layout/inner }}

{{ /partial:layout/section }}