{{ partial:layout/section class="imprint bg-white pt-15 pb-25 md:pt-25 md:pb-35 xl:pt-40 xl:pb-60" }}
  {{ partial:layout/inner }}
    <div class="max-w-3xl">
      {{ partial:components/headings/h1 title="Impressum" class="text-mistel mb-20 lg:mb-40" }}
      <p>
        Circum Real Estate AG<br>
        Franklinstrasse 25<br>
        8050 Zürich<br>
        <a 
          href="mailto:vermietung@circum.swiss" 
          class="hover:underline underline-offset-2 decoration-1">
          vermietung@circum.swiss
        </a>
      </p>
      {{ partial:components/headings/h2 title="Design und Entwicklung" class="font-uni-neue-bold text-sm md:text-md lg:text-lg leading-[1.35]" }}
      <p>Stoz Werbeagentur AG<br>Barzloostrasse 2<br>8330 Pfäffikon ZH<br><a href="mailto:hello@stoz.ch" target="_blank" class="hover:underline underline-offset-2 decoration-1">hello@stoz.ch</a><br><a href="https://www.stoz.ch" target="_blank" rel="noopener" class="hover:underline underline-offset-2 decoration-1">www.stoz.ch</a></p>
      {{ partial:components/headings/h2 title="Programmierung" class="font-uni-neue-bold text-sm md:text-md lg:text-lg leading-[1.35]" }}
      <p>Marcel Stadelmann, Zürich<br><a href="https://marceli.to" target="_blank" rel="noopener" class="hover:underline underline-offset-2 decoration-1">marceli.to</a></p>
    </div>
    {{ /partial:layout/inner }}
{{ /partial:layout/section }}